<!DOCTYPE html>
<!--[if lt IE 9]><html lang="vi" class="no-js lower-than-ie9 ie unknown"><![endif]-->
<!--[if lt IE 10]><html lang="vi" class="no-js lower-than-ie10 ie unknown"><![endif]-->
<!--[if !IE]>-->
<html lang="vi" class="no-js unknown">
<!--<![endif]-->

<head>
    <script src="https://www.paypalobjects.com/webcaptcha/ngrlCaptcha.min.js"></script>
    <!--Script info: script: node, template:  , date: Mar 13, 2023 10:31:58 -07:00, country: VN, language: vi web version:  content version:  hostname : rZJvnqaaQhLn/nmWT8cSUjOx898qoYZ0B/BV79bXYAOXQM1htF6eWuUfGZkW4XLN rlogid : rZJvnqaaQhLn%2FnmWT8cSUotSylMGOTGkRUMDpmUTvbXdvevuMMFAfdefdJL1JJQL5XfqohGTKkF0PBQ94CrbUAj9M%2F4vJGSu_186dc0768ea -->
    <meta charset="utf-8" />
    <title>Đăng nhập vào tài khoản PayPal của bạn</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="application-name" content="PayPal" />
    <meta name="msapplication-task"
        content="name=My Account;action-uri=https://www.paypal.com/us/cgi-bin/webscr?cmd=_account;icon-uri=https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico" />
    <meta name="msapplication-task"
        content="name=Send Money;action-uri=https://www.paypal.com/us/cgi-bin/webscr?cmd=_send-money-transfer&amp;send_method=domestic;icon-uri=https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico" />
    <meta name="keywords" content="transfer money, email money transfer, international money transfer " />
    <meta name="description"
        content="Transfer money online in seconds with PayPal money transfer. All you need is an email address." />
    <link rel="shortcut icon" href="https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico" />
    <link rel="apple-touch-icon" href="https://www.paypalobjects.com/webstatic/icon/pp64.png" />
    <link rel="canonical" href="https://www.paypal.com/vn/signin" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=2, user-scalable=yes" />
    <meta property="og:image" content="https://www.paypalobjects.com/webstatic/icon/pp258.png" />
    <link rel="stylesheet"
        href="https://www.paypalobjects.com/web/res/f2a/ad73348eea9ca96a82577269d4a97/css/contextualLogin.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="https://www.paypalobjects.com/web/res/f2a/ad73348eea9ca96a82577269d4a97/css/ie9.css" /><![endif]-->
    <!-- build:js inline -->
    <!-- build:[src] js/lib/ -->
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8"
        src="https://www.paypalobjects.com/web/res/f2a/ad73348eea9ca96a82577269d4a97/js/lib/modernizr-2.6.1.js">
        </script><!-- /build -->
    <!-- /build -->
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8">
		/* Special integration eligibility check */function isEligibleIntegration() { var sxf = "true"; return sxf === 'true' || window.name === 'PPFrameRedirect'; }/* Don't bust the frame if this is top window */if (self === top || isEligibleIntegration()) { var antiClickjack = document.getElementById("antiClickjack"); if (antiClickjack) { antiClickjack.parentNode.removeChild(antiClickjack); } } else { top.location = self.location; }
    </script>
</head>

<body class="unknown"
    data-rlogid="rZJvnqaaQhLn%2FnmWT8cSUotSylMGOTGkRUMDpmUTvbXdvevuMMFAfdefdJL1JJQL5XfqohGTKkF0PBQ94CrbUAj9M%2F4vJGSu_186dc0768ea"
    data-hostname="rZJvnqaaQhLn/nmWT8cSUjOx898qoYZ0B/BV79bXYAOXQM1htF6eWuUfGZkW4XLN" data-enable-ads-captcha="true"
    data-ads-challenge-url="/auth/createchallenge/a3f6d70edc288202/challenge.js" data-enable-client-cal-logging="true"
    data-correlation-id="f5570835d6ad4" data-enable-fn-beacon-on-web-views="true" data-phone-password-enabled="true"
    data-is-hybrid-login-experience="true" data-phone-code="VN +84"
    data-csrf-token="3NYTknxJQuFqG3mPncQr3US1EzcH4A7hoUWk0="
    data-nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8" data-lazy-load-country-codes="true"
    data-email-label="Email" data-xhr-timeout-limit="20000" data-load-start-time="1678728718570"
    data-xhr-timeout-ineligible-list="MSIE 10|Windows NT 10"><noscript>
        <p class="nonjsAlert" role="alert">LƯU Ý: Nhiều tính năng trên trang web PayPal yêu cầu Javascript và cookie.
        </p>
    </noscript>
    <div id="main" class="main" role="main">
        <section id="login" class="login   " data-role="page" data-title="Đăng nhập vào tài khoản PayPal của bạn">
            <div class="corral">
                <div id="content" class="contentContainer   activeContent contentContainerBordered">
                    <header id="header">
                        <p role="img" aria-label="PayPal Logo" class="paypal-logo paypal-logo-long"></p>
                    </header>
                    <h1 id="headerText" class="headerText  ">Thanh toán bằng PayPal</h1>
                    <p id="emailSubTagLine" class="subHeaderText ">Nhập địa chỉ email của bạn để bắt đầu.</p>
                    <p id="phoneSubTagLine" class="subHeaderText hide">Bạn đã thiết lập để sử dụng số điện thoại di động
                        của mình để đăng nhập? Nhập vào bên dưới. Nếu không, nhấp vào liên kết để đăng nhập bằng email.
                    </p>
                    <p id="subTagLineConnectOtp" class="subHeaderText hide">Bạn đã quên địa chỉ email? Hãy truy cập
                        trang web PayPal để khôi phục địa chỉ.</p>
                    <p id="pwdSubTagLine" class="subHeaderText hide">Với tài khoản PayPal, bạn đủ điều kiện hưởng chính
                        sách Bảo vệ người mua và Phần thưởng.</p>
                    <div class="notifications"></div>
                    <div id="keychainErrorMessage" class="hide">
                        <p class="notification notification-warning blocked-on-8ball hide">PayPal One Touch™ chỉ khả
                            dụng khi thanh toán. Vui lòng đăng nhập bằng email của bạn.</p>
                        <p class="notification notification-warning blocked-on-risky-login hide">Vui lòng đăng nhập bằng
                            email và mật khẩu của bạn.</p>
                        <p class="notification notification-critical keychain-activation-failure hide">Đã xảy ra lỗi ở
                            phía chúng tôi. Vui lòng đăng nhập bằng email và mật khẩu của bạn.</p>
                    </div>
                    <form
                        action="/signin?intent=checkout&amp;ctxId=xo_ctx_5TR02760546084211&amp;returnUri=%2Fwebapps%2Fhermes&amp;state=%3Fflow%3D1-P%26ulReturn%3Dtrue%26token%3D5TR02760546084211%26rcache%3D2%26useraction%3DCONTINUE%26cookieBannerVariant%3D1%26targetService4174%3Dxorouternodeweb&amp;locale.x=vi_VN&amp;country.x=VN&amp;flowId=5TR02760546084211"
                        method="post" class="proceed maskable" autocomplete="off" name="login" autocomplete="off"
                        novalidate>
                        <input type="hidden" id="token" name="_csrf"
                            value="3NYTknxJQuFqG3mPncQr3US1EzcH4A7hoUWk0="><input type="hidden" id="session"
                            name="_sessionID" value="l-MyYvElh5p-jM_NFL4fZDLDa3G_J8L_"><input type="hidden"
                            name="locale.x" value="vi_VN"><input type="hidden" name="processSignin" value="main"><input
                            type="hidden" name="fn_sync_data" value="fn_sync_data"><input type="hidden" name="intent"
                            value="checkout" /><input type="hidden" name="ads-client-context" value="checkout" /><input
                            type="hidden" name="flowId" value="5TR02760546084211" /><input type="hidden"
                            name="ads-client-context-data"
                            value="{&quot;context_id&quot;:{&quot;context_id&quot;:&quot;5TR02760546084211&quot;,&quot;channel&quot;:0,&quot;flow_type&quot;:&quot;checkout&quot;}}" /><input
                            type="hidden" name="ctxId" value="xo_ctx_5TR02760546084211" /><input type="hidden"
                            name="isValidCtxId" value="true" /><input type="hidden" name="coBrand" value="vn" /><input
                            type="hidden" name="signUpEndPoint" value="/webapps/mpp/account-selection" /><input
                            type="hidden" name="requestUrl"
                            value="/signin?intent=checkout&amp;ctxId=xo_ctx_5TR02760546084211&amp;returnUri=%2Fwebapps%2Fhermes&amp;state=%3Fflow%3D1-P%26ulReturn%3Dtrue%26token%3D5TR02760546084211%26rcache%3D2%26useraction%3DCONTINUE%26cookieBannerVariant%3D1%26targetService4174%3Dxorouternodeweb&amp;locale.x=vi_VN&amp;country.x=VN&amp;flowId=5TR02760546084211" /><input
                            type="hidden" name="forcePhonePasswordOptIn" value="" /><input type="hidden"
                            name="returnUri" value="/webapps/hermes" /><input type="hidden" name="state"
                            value="?flow=1-P&amp;ulReturn=true&amp;token=5TR02760546084211&amp;rcache=2&amp;useraction=CONTINUE&amp;cookieBannerVariant=1&amp;targetService4174=xorouternodeweb" />
                        <div class="profileDisplayName hide"></div>
                        <div class="profileRememberedEmail  hide ">
                            <span class="profileDisplayPhoneCode" dir="ltr"></span><span
                                class="profileDisplayEmail notranslate"></span><a href="#"
                                class="notYouLink scTrack:not-you" id="backToInputEmailLink">Thay đổi</a>
                        </div>
                        <div id="splitEmail" class="splitEmail ">
                            <div id="splitEmailSection" class="splitPhoneSection splitEmailSection adjustSection">
                                <div class="countryPhoneSelectWrapper hide">
                                    <label class="accessAid" for="phoneCode">Chọn mã vùng quốc gia của
                                        bạn</label><select name="phoneCode" id="phoneCode" class="countryPhoneSelect">
                                        <option selected="selected" value="VN +84" data-code="+84" data-country="VN">
                                            Việt Nam (+84)</option>
                                    </select>
                                    <div class="countryPhoneSelectChoice">
                                        <span class="countryCode">VN</span><span class="phoneCode">+84</span>
                                    </div>
                                </div>
                                <div class="textInput " id="login_emaildiv">
                                    <div class="fieldWrapper">
                                        <input id="email" name="login_email" type="email"
                                            class="hasHelp  validate validateEmpty   " required="required" value=""
                                            autocomplete="username" placeholder="Email hoặc số điện thoại di động"
                                            aria-describedby="emailErrorMessage" /><label for="email"
                                            class="fieldLabel">Email hoặc số điện thoại di động</label>
                                    </div>
                                    <div class="errorMessage" id="emailErrorMessage">
                                        <p class="emptyError hide">Bắt buộc</p>
                                        <p class="invalidError hide">Định dạng email hoặc số điện thoại di động không
                                            đúng</p>
                                    </div>
                                </div><a
                                    href="/authflow/email-recovery/?redirectUri=%252Fsignin%253Fintent%253Dcheckout%2526ctxId%253Dxo_ctx_5TR02760546084211%2526returnUri%253D%25252Fwebapps%25252Fhermes%2526state%253D%25253Fflow%25253D1-P%252526ulReturn%25253Dtrue%252526token%25253D5TR02760546084211%252526rcache%25253D2%252526useraction%25253DCONTINUE%252526cookieBannerVariant%25253D1%252526targetService4174%25253Dxorouternodeweb%2526locale.x%253Dvi_VN%2526country.x%253DVN%2526flowId%253D5TR02760546084211%2526sso%253Dtrue"
                                    id="forgotEmail" class="recoveryOption"
                                    data-client-log-action-type="clickForgotEmailLink">Bạn quên email?</a>
                                <div class="captcha captcha-container clearfix hide" id="splitHybridCaptcha">
                                    <div class="captcha-image"><img src="" alt="" /></div>
                                    <div class="captcha-inputs clearfix">
                                        <div class="textInput ">
                                            <div class="fieldWrapper">
                                                <input id="splitHybridCaptcha" name="captchaCode" type="text"
                                                    class="hasHelp  validateEmpty   " value="" autocomplete="off"
                                                    placeholder="Nhập mã"
                                                    aria-describedby="captchaErrorMessage" /><label
                                                    for="splitHybridCaptcha" class="fieldLabel"></label>
                                            </div>
                                            <div class="errorMessage" id="captchaErrorMessage">
                                                <p class="emptyError hide">Bắt buộc</p>
                                            </div>
                                        </div>
                                        <div class="refresh"><a href=""
                                                class="captchaRefresh buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-reload-captcha imageLink"><span
                                                    class="accessAid">Tải lại Ảnh</span></a>
                                        </div>
                                        <div class="audio"><audio role="application" id="captchaPlayer" src=""
                                                class="hide"></audio><a target="_blank" href=""
                                                class="captchaPlay buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-play-captcha-audio imageLink"><span
                                                    class="accessAid">Nút Âm thanh</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <button class="button actionContinue scTrack:unifiedlogin-login-click-next"
                                    type="submit" id="btnNext" name="btnNext" value="Next">Tiếp theo</button>
                            </div>
                            <div class="tpdDemo hide" id="tpdDemo">
                                <p class="tpdDemoContent">Đăng nhập bằng email của bạn như bình thường sau đó bạn sẽ
                                    được nhắc đăng nhập bằng dữ liệu sinh trắc học trên điện thoại của mình.</p>
                            </div>
                            <input type="hidden" id="phone" name="login_phone" value="" class="validate" />
                        </div>
                        <input type="hidden" name="initialSplitLoginContext" id=initialSplitLoginContext
                            value="inputEmail" /><input type="hidden" name="isTpdOnboarded" id=isTpdOnboarded
                            value="" />
                        <div id="splitPassword" class="splitPassword  hide">
                            <div id="splitPasswordSection" class="hide ">
                                <div id="passwordSection" class="clearfix showHideButtonForEligibleBrowser">
                                    <div class="textInput " id="login_passworddiv">
                                        <div class="fieldWrapper">
                                            <input id="password" name="login_password" type="password"
                                                class="hasHelp  validateEmpty   pin-password" required="required"
                                                value="" placeholder="Mật khẩu"
                                                aria-describedby="passwordErrorMessage" /><label for="password"
                                                class="fieldLabel">Mật khẩu</label><label for="Hiển thị mật khẩu"
                                                class="fieldLabel">Hiển thị mật khẩu</label><button type="button"
                                                class="showPassword hide show-hide-password scTrack:unifiedlogin-show-password"
                                                id="Hiển thị mật khẩu">Hiện</button><label for="Ẩn đi\ "
                                                class="fieldLabel">Ẩn đi\ </label><button type="button"
                                                class="hidePassword hide show-hide-password scTrack:unifiedlogin-hide-password"
                                                id="Ẩn đi\ ">Ẩn đi\ </button>
                                        </div>
                                        <div class="errorMessage" id="passwordErrorMessage">
                                            <p class="emptyError hide">Bắt buộc</p>
                                        </div>
                                    </div><a
                                        href="/authflow/password-recovery/?contextId=5TR02760546084211&amp;redirectUri=%252Fsignin%253Fintent%253Dcheckout%2526ctxId%253Dxo_ctx_5TR02760546084211%2526returnUri%253D%25252Fwebapps%25252Fhermes%2526state%253D%25253Fflow%25253D1-P%252526ulReturn%25253Dtrue%252526token%25253D5TR02760546084211%252526rcache%25253D2%252526useraction%25253DCONTINUE%252526cookieBannerVariant%25253D1%252526targetService4174%25253Dxorouternodeweb%2526locale.x%253Dvi_VN%2526country.x%253DVN%2526flowId%253D5TR02760546084211%2526sso%253Dtrue&amp;country.x=VN&amp;locale.x=vi_VN"
                                        id="forgotPassword" class="recoveryOption forgotPassword"
                                        data-client-log-action-type="clickForgotPasswordLink">Quên mật khẩu?</a>
                                </div>
                            </div>
                            <div class="captcha captcha-container clearfix hide" id="splitPasswordCaptcha">
                                <div class="captcha-image"><img src="" alt="" /></div>
                                <div class="captcha-inputs clearfix">
                                    <div class="textInput ">
                                        <div class="fieldWrapper">
                                            <input id="splitPasswordCaptcha" name="captcha" type="text"
                                                class="hasHelp  validateEmpty   " value="" autocomplete="off"
                                                placeholder="Nhập mã" aria-describedby="captchaErrorMessage" /><label
                                                for="splitPasswordCaptcha" class="fieldLabel"></label>
                                        </div>
                                        <div class="errorMessage" id="captchaErrorMessage">
                                            <p class="emptyError hide">Bắt buộc</p>
                                        </div>
                                    </div>
                                    <div class="refresh"><a href=""
                                            class="captchaRefresh buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-reload-captcha imageLink"><span
                                                class="accessAid">Tải lại Ảnh</span></a>
                                    </div>
                                    <div class="audio"><audio role="application" id="captchaPlayer" src=""
                                            class="hide"></audio><a target="_blank" href=""
                                            class="captchaPlay buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-play-captcha-audio imageLink"><span
                                                class="accessAid">Nút Âm thanh</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <button class="button actionContinue scTrack:unifiedlogin-login-submit" type="submit"
                                    id="btnLogin" name="btnLogin" value="Login">Đăng nhập</button>
                            </div>
                        </div><input type="hidden" name="splitLoginContext" value="inputEmail" />
                    </form>
                    <div id="tryAnotherWayLinkContainer" class="tryAnotherWayLinkContainer hide hide"
                        data-hide-on-pass=""><a href='#' id="tryAnotherWayLink">Hãy thử cách khác</a>
                    </div>
                    <div id="signupContainer" class="signupContainer " data-hide-on-email="" data-hide-on-pass="">
                        <div class="loginSignUpSeparator "><span class="textInSeparator">hoặc</span>
                        </div>
                        <button type="button"
                            href="/webapps/hermes?token=5TR02760546084211&amp;rcache=2&amp;useraction=CONTINUE&amp;cookieBannerVariant=1&amp;targetService4174=xorouternodeweb&amp;country.x=VN&amp;locale.x=vi_VN&amp;ulOnboardRedirect=true"
                            class="button secondary scTrack:unifiedlogin-click-signup-button" id="createAccount">Thanh
                            toán bằng thẻ ghi nợ hoặc thẻ tín dụng</button>
                    </div>
                    <div id="tpdButtonContainer" class="signupContainer hide">
                        <div class="loginSignUpSeparator"><span class="textInSeparator">hoặc</span>
                        </div>
                        <div class="actions">
                            <button class="button secondary" id="tpdButton" type="submit"
                                value="Phê duyệt đăng nhập bằng thiết bị di động">Phê duyệt đăng nhập bằng thiết bị di
                                động</button>
                        </div>
                    </div>
                    <div class="intentFooter ">
                        <div class="cancelUrl "><a href="http://localhost:3000/cancel?token=5TR02760546084211"
                                data-url="http://localhost:3000/cancel?token=5TR02760546084211"
                                class="scTrack:unifiedlogin-click-cancel-and-return cancelLink" id="cancelLink"
                                aria-hidden="false">Hủy và quay lại Test Store</a></div>
                        <div class="localeSelector  ">
                            <ul class="localeLink">
                                <li><a class="selected scTrack:unifiedlogin-footer-language_vi_VN"
                                        href="/signin?intent=checkout&amp;ctxId=xo_ctx_5TR02760546084211&amp;returnUri=%2Fwebapps%2Fhermes&amp;state=%3Fflow%3D1-P%26ulReturn%3Dtrue%26token%3D5TR02760546084211%26rcache%3D2%26useraction%3DCONTINUE%26cookieBannerVariant%3D1%26targetService4174%3Dxorouternodeweb&amp;flowId=5TR02760546084211&country.x=VN&locale.x=vi_VN&langTgl=vi"
                                        lang="vi" data-locale="vi_VN" aria-current=”true”>Tiếng Việt</a>
                                </li>
                                <li><a class=" scTrack:unifiedlogin-footer-language_en_US"
                                        href="/signin?intent=checkout&amp;ctxId=xo_ctx_5TR02760546084211&amp;returnUri=%2Fwebapps%2Fhermes&amp;state=%3Fflow%3D1-P%26ulReturn%3Dtrue%26token%3D5TR02760546084211%26rcache%3D2%26useraction%3DCONTINUE%26cookieBannerVariant%3D1%26targetService4174%3Dxorouternodeweb&amp;flowId=5TR02760546084211&country.x=VN&locale.x=en_US&langTgl=en"
                                        lang="en" data-locale="en_US">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tryAnotherWayModal" class="tryAnotherWayModal hide">
                <div class="modal-content">
                    <div class='modal-content-header'>
                        <div class='modal-header-text'>Hãy thử một cách khác</div>
                        <div>
                            <button id="closeModal" type="button" class="dialog-close"
                                aria-label="dialog-close-btn"></button>
                        </div>
                    </div>
                    <ul class='modal-content-body'>
                        <li class="hide"><a aria-label="Login with Touch ID or Face ID" id='loginWithWebauthn' href='#'>
                                <div>Đăng nhập bằng khuôn mặt, vân tay hoặc mã PIN</div>
                                <button class="chevron-right" aria-label="webauthn-chevron"></button>
                            </a></li>
                        <li class="hide"><a aria-label="Login with phone one-time code" id='loginWithOtp' href='#'>
                                <div>Gửi mã đăng nhập dùng một lần qua tin nhắn</div>
                                <button class="chevron-right" aria-label="phone-otc-chevron"></button>
                            </a></li>
                        <li class='hide'><a aria-label="Login with email one-time code" id='loginWithEmailOtp' href='#'>
                                <div>Gửi mã đăng nhập dùng một lần qua email</div>
                                <button class="chevron-right" aria-label="email-otc-chevron"></button>
                            </a></li>
                        <li class=''><a aria-label="Login with password" id='loginWithPassword' href='#'>
                                <div>Đăng nhập bằng mật khẩu</div>
                                <button class="chevron-right" aria-label="pwd-chevron"></button>
                            </a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="verification" class="verification hide" data-role="page" data-title="Xác nhận Đăng nhập - PayPal">
            <div class="corral">
                <div class="contentContainer contentContainerLean">
                    <div id="pending" class="verificationSubSection">
                        <h1 class="headerText">Mở ứng dụng PayPal</h1>
                        <p id="uncookiedMessage" class="verification-message hide">Mở ứng dụng PayPal, chạm Có khi được
                            nhắc, sau đó bấm <span class="twoDigitPin">{twoDigitPin}</span> trên điện thoại để đăng
                            nhập.</p>
                        <p id="cookiedMessage" class="verification-message hide">Mở ứng dụng PayPal và bấm Có trên lời
                            nhắc để đăng nhập.</p>
                        <div class="notifications"></div>
                        <div class="accountArea">
                            <span class="account"></span><span class="verificationNotYou"><a data-href="#" href="#"
                                    class="scTrack:unifiedlogin-verification-click-notYou" id="pendingNotYouLink">Không
                                    phải bạn?</a></span>
                        </div>
                        <div class="mobileNotification">
                            <p class="pin"></p>
                            <div class="mobileScreen">
                                <img src="https://www.paypalobjects.com/images/shared/icon-PN-check.png" alt="phone">
                            </div>
                        </div>
                        <p class="tryAnotherMsg"><a id="tryPasswordLink" data-href="#" href=""
                                class="inlineLink scTrack:try-password">Vui lòng sử dụng mật khẩu</a></p>
                        <p class="resendMsg"><a class="inlineLink scTrack:resend hide" role="button" data-href="#resend"
                                href="" id="resend">Gửi
                                lại</a><span class="sentMessage hide">Đã gửi</span></p>
                    </div>
                    <div id="expired" class="hide verificationSubSection">
                        <header>
                            <p role="img" aria-label="PayPal Logo" class="paypal-logo paypal-logo-long">PayPal</p>
                        </header>
                        <h1 class="headerText headerTextWarning">Rất tiếc, chúng tôi không thể xác nhận đó là bạn
                        </h1>
                        <p class="slimP">Chúng tôi không nhận được phản hồi vì vậy không thể xác nhận danh tính của
                            bạn.</p><button id="expiredTryAgainButton" class="button actionsSpaced">Thử lại</button>
                    </div>
                    <div id="denied" class="denied hide verificationSubSection"><img alt=""
                            src="https://www.paypalobjects.com/images/shared/glyph_alert_critical_big-2x.png"
                            class="deniedCaution" />
                        <h1 class="headerText">Rất tiếc, chúng tôi không thể xác nhận đó là bạn</h1>
                        <p>Bạn cần trợ giúp?, <a href="/{coBrand}/cgi-bin/helpscr?cmd=_help"
                                class="inlineLink scTrack:help">Chúng tôi có thể giúp bạn</a>.</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer" role="contentinfo">
            <div class="legalFooter">
                <ul class="footerGroup">
                    <li><a target="_blank" href="/vn/smarthelp/contact-us">Liên hệ với chúng tôi</a></li>
                    <li><a target="_blank" href="/vn/webapps/mpp/ua/privacy-full">Quyền riêng tư</a></li>
                    <li><a target="_blank" href="/vn/webapps/mpp/ua/legalhub-full">Pháp lý</a></li>
                    <li><a target="_blank" href="/vn/webapps/mpp/country-worldwide">Toàn cầu</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="transitioning spinnerWithLockIcon hide ">
        <p class="welcomeMessage hide">Xin chào ,</p>
        <p class="checkingInfo hide">Đang kiểm tra thông tin của bạn…</p>
        <p class="oneSecond hide">Vui lòng chờ trong giây lát…</p>
        <p class="secureMessage hide">Đang đăng nhập bạn một cách an toàn...</p>
        <p class="oneTouchMessage hide"></p>
        <p class="retrieveInfo hide">Đang lấy thông tin của bạn ...</p>
        <p class="waitFewSecs hide">Quá trình này có thể mất vài giây...</p>
        <p class="udtSpinnerMessage udtLogin hide">Chúng tôi nhận ra bạn trên thiết bị này và đang đăng nhập an toàn cho
            bạn.</p>
        <p class="udtSpinnerMessage udtLoginXo hide">Chúng tôi nhận ra bạn trên thiết bị này, vì vậy bạn không cần nhập
            mật khẩu để mua hàng.</p>
        <p class="udtSpinnerMessage webllsXoUS hide">Chúng tôi nhận ra bạn trên thiết bị này, vì vậy bạn có thể bỏ
            qua đăng nhập.<br><br>Quản lý cài đặt này trong hồ sơ của bạn.</p>
        <p class="udtSpinnerMessage webllsSCA hide">Chúng tôi đang đưa bạn đến trang PayPal Checkout để hoàn tất
            thanh toán.</p>
        <p class="qrcMessage hide">Đang chuyển hướng đến...</p>
        <p class="webAuthnOptin hide">Đang cập nhật cài đặt đăng nhập của bạn...</p>
        <p class="webAuthnLogin hide">Bạn đang đăng nhập...</p>
        <div class="keychain spinner-content uiExp hide"></div>
    </div>
    <div class="lockIcon hide"></div>
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8">
        var PAYPAL = PAYPAL || {}; PAYPAL.ulData = { fnUrl: "https://c.paypal.com/da/r/fb.js", fnSessionId: "5TR02760546084211", sourceId: "UL_CHECKOUT_INPUT_EMAIL", beaconUrl: "https://b.stats.paypal.com/v1/counter.cgi?r=cD01VFIwMjc2MDU0NjA4NDIxMSZpPTExNS43Mi4yNS45OSZ0PTE2Nzg3Mjg3MTguNTk5JmE9MjEmcz1VTklGSUVEX0xPR0lOtKdPR-hJd_wlsTPw6kOhki5rnr8", enableSpeedTyping: "true", aPayAuth: "", aPayCanMakePaymentTimeout: "", tokenAssertionUri: "", preloadScriptUrl: "", preloadScriptDownloadLength: 0, fingerprintProceed: "" };
    </script>
    <noscript><img src="https://c.paypal.com/v1/r/d/b/ns?f=5TR02760546084211&s=UL_CHECKOUT_INPUT_EMAIL&js=0&r=1"
            title="ppfniframe" alt="" height="1" width="1" border="0"></noscript>
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8" id="ul-sync-data">
        var PAYPAL = PAYPAL || {}; PAYPAL.ulSync = { fnSessionId: '5TR02760546084211', sourceId: 'UL_CHECKOUT_INPUT_EMAIL', fname: 'fn_sync_data' };
    </script><!-- build:js inline -->
    <!-- build:[src] js/lib/ -->
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8"
        src="https://www.paypalobjects.com/web/res/f2a/ad73348eea9ca96a82577269d4a97/js/lib/fn-sync-telemetry-min.js">
        </script><!-- /build -->
    <!-- /build -->
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8">
        var PAYPAL = PAYPAL || {}; PAYPAL.ulData = PAYPAL.ulData || {}; PAYPAL.ulData.incontextData = { "version": "", "noBridge": "", "env": "", "icstage": "", "targetCancelUrl": "http://localhost:3000/cancel?token=5TR02760546084211", "paymentAction": "sale", "paymentToken": "5TR02760546084211", "merchantID": "U932Q53U5FJ78" };
    </script><!-- build:js inline -->
    <!-- build:[src] js/ -->
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8"
        src="https://www.paypalobjects.com/web/res/f2a/ad73348eea9ca96a82577269d4a97/js/checkout-split.js"></script>
    <!-- /build -->
    <!-- /build -->
    <script src="https://www.paypalobjects.com/pa/js/min/pa.js"></script>
    <script nonce="MfiqQN/Z+LNVif/Ay98KBYKgIkhwsybDN/BqskpC1ajaA8Q8">
        var fptiOptions = { data: 'pgrp=main%3Aunifiedlogin%3Asplitlogin%3A%3Aemail&page=main%3Aunifiedlogin%3Asplitlogin%3A%3Aemail%3A%3A%3A&qual=input_email&pgst=1678728718570&calc=f5570835d6ad4&nsid=l-MyYvElh5p-jM_NFL4fZDLDa3G_J8L_&rsta=vi_VN&pgtf=Nodejs&env=sandbox&s=ci&ccpg=VN&csci=70ec284d517c4c749df8f52bdb32edeb&comp=unifiedloginnodeweb&tsrce=unifiedloginnodeweb&cu=0&transition_name=ss_prepare_email&userRedirected=true&fltk=5TR02760546084211&flid=5TR02760546084211&ctx_login_ot_content=0&obex=checkout&landing_page=login&state_name=begin_email&ctx_login_content_fetch=success&ctx_login_ctxid_fetch=success%7Cparse-success&ctx_login_lang_footer=shown&ctx_login_cancel_url=shown&ctx_login_signup_btn=shown%7CpayWithCard&context_id=5TR02760546084211&ctx_login_intent=checkout&ctx_login_flow=Express%20checkout&ctx_login_state_transition=login_loaded&post_login_redirect=returnUri&ret_url=%2Fwebapps%2Fhermes', url: 'https:\/\/t.paypal.com\/ts' }; var trackLazyData = "true" === "true"; if (trackLazyData) { fptiOptions = { ...fptiOptions, trackLazyData: true, lazyDataId: 'UnifiedLoginNodeWeb' }; } (function () { if (typeof PAYPAL.analytics != "undefined") { PAYPAL.core = PAYPAL.core || {}; PAYPAL.core.pta = PAYPAL.analytics.setup(fptiOptions); } }());
    </script>
    <noscript><img
            src="https://t.paypal.com/ts?nojs=1&pgrp=main%3Aunifiedlogin%3Asplitlogin%3A%3Aemail&page=main%3Aunifiedlogin%3Asplitlogin%3A%3Aemail%3A%3A%3A&qual=input_email&pgst=1678728718570&calc=f5570835d6ad4&nsid=l-MyYvElh5p-jM_NFL4fZDLDa3G_J8L_&rsta=vi_VN&pgtf=Nodejs&env=sandbox&s=ci&ccpg=VN&csci=70ec284d517c4c749df8f52bdb32edeb&comp=unifiedloginnodeweb&tsrce=unifiedloginnodeweb&cu=0&transition_name=ss_prepare_email&userRedirected=true&fltk=5TR02760546084211&flid=5TR02760546084211&ctx_login_ot_content=0&obex=checkout&landing_page=login&state_name=begin_email&ctx_login_content_fetch=success&ctx_login_ctxid_fetch=success%7Cparse-success&ctx_login_lang_footer=shown&ctx_login_cancel_url=shown&ctx_login_signup_btn=shown%7CpayWithCard&context_id=5TR02760546084211&ctx_login_intent=checkout&ctx_login_flow=Express%20checkout&ctx_login_state_transition=login_loaded&post_login_redirect=returnUri&ret_url=%2Fwebapps%2Fhermes"
            alt="" height="1" width="1" border="0"></noscript>
    <script nonce="MfiqQN&#x2F;Z+LNVif&#x2F;Ay98KBYKgIkhwsybDN&#x2F;BqskpC1ajaA8Q8">
        (function () {
            function loadScript(url, attributes) {
                var scriptTag = '<scr' + 'ipt src="' + url + '" ' + (attributes || '') + '></scr' + 'ipt>';
                document.write(scriptTag);
            }

            function loadV4() {
                if (!window.name || window.name.indexOf('xcomponent') !== 0) {
                    return;
                }

                var version = window.name.split('__')[2].replace(/_/g, '.');

                if (!version.match(/^[0-9a-zA-Z.]+$/)) {
                    return;
                }

                if (version === '4' || version === 'latest') {
                    version = '';
                }

                var url = 'https://www.paypalobjects.com/api/checkout' + (version ? ('.' + version) : '') + '.js';
                var attributes = 'data-paypal-checkout data-no-bridge';

                loadScript(url, attributes);
            }

            function loadV5() {
                var ancestor = (window.parent && window.parent !== window)
                    ? window.parent
                    : window.opener;

                if (!ancestor || !ancestor.document) {
                    return;
                }

                var v5script = ancestor.document.querySelector('script[src*="/sdk/js"]');

                if (!v5script || !v5script.src) {
                    return;
                }

                loadScript(v5script.src);
            }

            try {
                if (window.paypal && window.paypal.version) {
                    return;
                }

                loadV4();
                loadV5();
            } catch (err) {
                return;
            }
        })();
    </script>
</body>

</html>